*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: grey;

}
nav{
    height: 60px;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;
}
nav h4{
    font-size: 20px;
}
nav i {
    background-color: black;
    font-size: 20px;
    color:white;
    border-radius:50%;
    padding: 10px;
}
.center{
    
    width: 100%;
   
    padding: 1px 50px;
}
.center h1{
    font-size: 66px;
    font-weight: 500;
    line-height: 80px;
    
}
.centerin{
    height :200px;
    
    width: 100%;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
}

.centerin p{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;;
}
.right{
    width: 20%;
}
.elem{
    
    margin: 5px;
    padding: 10px 0;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.elem i{
    font-size: 20px;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.elem:hover i{
    opacity: 1;
    
}
.elem:hover{
    background-color:rgb(231, 229, 229);

}
.elem:hover a{
    text-decoration: underline;
}

.bottom{
    height:40%;
    background-image: url(https://media.istockphoto.com/id/1383816654/photo/beautiful-afro-woman-with-bright-make-up.jpg?s=1024x1024&w=is&k=20&c=yS371__lwGn85Gxmws35zC74U3didjx1ixst-tA4k5g=);
    background-size: cover;
    background-position: 0 40%;
    /* bottom: 40px; */
    /* top: 200px; */
}